<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneFileParam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GeneFileParam.Properties.Settings>
            <setting name="GeneFileParam_ReferenceWSCtrlPc_WSCtrlPc" serializeAs="String">
                <value>http://86.247.64.225:8030/WSCtrlPc.asmx</value>
            </setting>
        </GeneFileParam.Properties.Settings>
    </applicationSettings>
</configuration>